[submodule "g2_lib"]
	path = g2_lib
	url = https://github.com/neilm-fourjs/g2_lib.git
[submodule "njm_menu"]
	path = njm_menu
	url = https://github.com/neilm-fourjs/njm_menu.git
[submodule "njm_demo_db"]
	path = njm_demo_db
	url = https://github.com/neilm-fourjs/njm_demo_db.git
[submodule "fontAwesome"]
	path = fontAwesome
	url = https://github.com/neilm-fourjs/fontAwesome.git
[submodule "matDesTest"]
	path = matDesTest
	url = https://github.com/neilm-fourjs/matDesTest.git
[submodule "gbc_app"]
	path = gbc_app
	url = https://github.com/neilm-fourjs/gbc_app.git
