[submodule "g2_lib"]
	path = g2_lib
	url = https://github.com/neilm-fourjs/g2_lib.git
[submodule "njm_menu"]
	path = njm_menu
	url = https://github.com/neilm-fourjs/njm_menu.git
[submodule "njm_demo_db"]
	path = njm_demo_db
	url = https://github.com/neilm-fourjs/njm_demo_db.git
[submodule "fontAwesome"]
	path = fontAwesome
	url = https://github.com/neilm-fourjs/fontAwesome.git
[submodule "matDesTest"]
	path = matDesTest
	url = https://github.com/neilm-fourjs/matDesTest.git
[submodule "gbc_app"]
	path = gbc_app
	url = https://github.com/neilm-fourjs/gbc_app.git
[submodule "wc_d3Charts"]
	path = wc_d3Charts
	url = https://github.com/neilm-fourjs/wc_d3Charts.git
[submodule "widgets"]
	path = widgets
	url = https://github.com/neilm-fourjs/widgets.git
[submodule "wizard"]
	path = wizard
	url = https://github.com/neilm-fourjs/wizard.git
[submodule "wc_kite"]
	path = wc_kite
	url = https://github.com/neilm-fourjs/wc_kite.git
[submodule "ipodTree"]
	path = ipodTree
	url = https://github.com/neilm-fourjs/ipodTree.git
[submodule "picFlow"]
	path = picFlow
	url = https://github.com/neilm-fourjs/picFlow.git
[submodule "dynMaint"]
	path = dynMaint
	url = https://github.com/neilm-fourjs/dynMaint.git
[submodule "business_app"]
	path = business_app
	url = https://github.com/neilm-fourjs/business_app.git
[submodule "njm_resources"]
	path = njm_resources
	url = https://github.com/neilm-fourjs/njm_resources.git
[submodule "wc_gauge"]
	path = wc_gauge
	url = https://github.com/neilm-fourjs/wc_gauge.git
